.card{
    border-radius:0.5rem;
    overflow:hidden;
    margin: 1rem;
    border: 1px solid #ffffff;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
}
.card-content{
    margin: 0.5rem;
    color: #ffffff;
}

button{
    background-color: rgb(13, 199, 13);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin: 0 0 0.5rem 0;
}